# =========================
# Flutter / Dart
# =========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.lock
app.*.symbols
app.*.map.json

# =========================
# Android / iOS
# =========================
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# =========================
# Node.js / Server (aura_server)
# =========================
node_modules/
aura_server/node_modules/
aura_server/package-lock.json
# aura_server/.env
aura_server/debug.log
aura_server/npm-debug.log*
aura_server/yarn-debug.log*
aura_server/yarn-error.log*
aura_server/.DS_Store

# =========================
# General system files
# =========================
*.log
*.swp
.DS_Store
Thumbs.db
*.tmp
*.bak

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml
*.ipr
*.iws
aura_server/assets/interactions.json

# =========================
# Miscellaneous
# =========================
# .env
# .env.*
profile.json


# Email credentials
# .env
# *.env.local
# *.env.*.local